
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_clientside.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        <div class="row text-center">
            <font color=blue size=5 face="微軟正黑體">
                <b>是否提供能力證明以增進錄取機會?   本網站提供以下幾種選擇      </b>
            </font>
        </div>
        <h4 class="stepno stepno-1"><span>1</span>上傳證書:</h4>
        <select>
            <option>選擇領域</option>
            <option>網頁設計網站開發</option>
            <option>資訊網路軟體設計</option>
            <option>品牌設計應用設計</option>
            <option>商業攝影演藝娛樂</option>
        </select>
        請輸入證書名稱：<input type="text" name="欄位名稱">
        <button type="button">上傳</button>
        <h4 class="stepno stepno-1"><span>2</span>上傳推薦信:</h4>
        推薦信描述：<input type="text" name="欄位名稱">
        <button type="button">上傳</button>
        <h4 class="stepno stepno-1"><span>3</span>上傳作品:</h4>
        作品描述：(可提供作品網址等等)<input type="text" name="欄位名稱">
        <button type="button">上傳</button>
        <a href="@Url.Action("index", "receyaa1")" class="btn btn-block">開始接案</a>
    </div><!-- BUTTON BOX-->

    
</body>
</html>
