@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_clientside.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>


    <div>
        
        <select>
            <option>選擇地區</option>
            <option>雙北</option>
            <option>桃園</option>
            <option>新竹</option>
            <option>苗栗</option>
            <option>台中</option>
            <option>彰化</option>
            <option>雲林</option>
            <option>嘉義</option>
            <option>台南</option>
            <option>高雄</option>
            <option>屏東</option>
            <option>宜蘭</option>
            <option>花蓮</option>
            <option>台東</option>
        </select>


        <select>
            <option>選擇薪資</option>
            <option>2萬2-2萬4</option>
            <option>2萬4-2萬6</option>
            <option>2萬6-2萬8</option>
            <option>2萬8-3萬</option>
            <option>3萬-3萬2</option>
            <option>彰化</option>
            <option>雲林</option>
            <option>嘉義</option>
            <option>台南</option>
            <option>高雄</option>
            <option>屏東</option>
            <option>宜蘭</option>
            <option>花蓮</option>
            <option>台東</option>
        </select>
        <table border="1">

            <tr>
                <td>專案名稱</td>
                <td>內容</td>
                <td>薪資</td>
            </tr>
            <tr>
                <td>.......</td>
                <td>.......</td>
                <td>....... </td>
            </tr>
            <tr>
                <td>.......</td>
                <td>.......</td>
                <td>....... </td>
            </tr>
            <tr>
                <td>.......</td>
                <td>.......</td>
                <td>....... </td>
            </tr>
            <tr>
                <td>.......</td>
                <td>.......</td>
                <td>....... </td>
            </tr>
            <tr>
                <td>.......</td>
                <td>.......</td>
                <td>....... </td>
            </tr>
        </table>



        <div style="text-align:center">
            <button>確定</button>
        </div>


    </div>
</body>
</html>
