@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_clientside.cshtml";

}
<section id="home" class="home bg-black fix">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="main_home text-center">
                <div class="col-md-12">
                    <div class="hello_slid">
                        <div class="slid_item">
                            <div class="home_text ">
                                <h2 class="text-white">Welcome to <strong>Made</strong></h2>
                                <h1 class="text-white">We Do Business All Of Time</h1>
                                <h3 class="text-white">- We Create a <strong>Concept</strong> into The Market -</h3>
                            </div>
                            <div class="home_btns m-top-40">
                                <a href="" class="btn btn-primary m-top-20">我要發案</a>
                                <a href="" class="btn btn-primary m-top-20">我要接案</a>
                            </div>
                        </div><!-- End off slid item -->
                        <div class="slid_item">
                            <div class="home_text ">
                                <h2 class="text-white">Welcome to <strong>Made</strong></h2>
                                <h1 class="text-white">We Do Business All Of Time</h1>
                                <h3 class="text-white">- We Create a <strong>Concept</strong> into The Market -</h3>
                            </div>
                            <div class="home_btns m-top-40">
                                <a href="" class="btn btn-primary m-top-20">我要發案</a>
                                <a href="" class="btn btn-primary m-top-20">我要接案</a>
                            </div>
                        </div><!-- End off slid item -->
                        <div class="slid_item">
                            <div class="home_text ">
                                <h2 class="text-white">Welcome to <strong>Made</strong></h2>
                                <h1 class="text-white">We Do Business All Of Time</h1>
                                <h3 class="text-white">- We Create a <strong>Concept</strong> into The Market -</h3>
                            </div>
                            <div class="home_btns m-top-40">
                                <a href="" class="btn btn-primary m-top-20">我要發案</a>
                                <a href="" class="btn btn-primary m-top-20">我要接案</a>
                            </div>
                        </div><!-- End off slid item -->
                    </div>
                </div>
            </div>

        </div><!--End off row-->
    </div><!--End off container -->
</section> <!--End off Home Sections-->
<!--Featured Section-->
<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="main_features fix roomy-70">
                <div class="col-md-4">
                    <div class="features_item sm-m-top-30">
                        <div class="f_item_icon">
                            <i class="fa fa-thumbs-o-up"></i>
                        </div>
                        <div class="f_item_text">
                            <h3>最優質的外包平台</h3>
                            <p>
                                透過我們可以讓您找到想要的人才或者找到想要的工作。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="features_item sm-m-top-30">
                        <div class="f_item_icon">
                            <i class="fa fa-tablet"></i>
                        </div>
                        <div class="f_item_text">
                            <h3>Responsive Design</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque eleifend
                                in sit amet mattis volutpat rhoncus.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="features_item sm-m-top-30">
                        <div class="f_item_icon">
                            <i class="fa fa-sliders"></i>
                        </div>
                        <div class="f_item_text">
                            <h3>Easy to Customize</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque eleifend
                                in sit amet mattis volutpat rhoncus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</section><!-- End off Featured Section-->
<!--Business Section-->
<section id="business" class="business bg-grey roomy-70">
    <div class="container">
        <div class="row">
            <div class="main_business">
                <div class="col-md-6">
                    <div class="business_slid">
                        <div class="slid_shap bg-grey"></div>
                        <div class="business_items text-center">
                            <div class="business_item">
                                <div class="business_img">
                                    <img src="~/images/about-img1.jpg" alt="" />
                                </div>
                            </div>
                            <div class="business_item">
                                <div class="business_img">
                                    <img src="~/images/about-img1.jpg" alt="" />
                                </div>
                            </div>
                            <div class="business_item">
                                <div class="business_img">
                                    <img src="~/images/about-img1.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="business_item sm-m-top-50">
                        <h2 class="text-uppercase"><strong>專家</strong> 成交排行榜</h2>
                        <ul>
                            <li><i class="fa fa-arrow-circle-right"></i> Clean & Modern Design</li>
                            <li><i class="fa  fa-arrow-circle-right"></i> Fully Responsive</li>
                            <li><i class="fa  fa-arrow-circle-right"></i> Google Fonts</li>
                        </ul>
                        <p class="m-top-20">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque eleifend in mi
                            sit amet mattis suspendisse ac ligula volutpat nisl rhoncus sagittis cras suscipit
                            lacus quis erat malesuada lobortis eiam dui magna volutpat commodo eget pretium vitae
                            elit etiam luctus risus urna in malesuada ante convallis.
                        </p>
                        <div class="business_btn">
                            <a href="" class="btn btn-default m-top-20">Read More</a>
                            <a href="" class="btn btn-primary m-top-20">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End off Business section -->
<!--product section-->
<section id="product" class="product">
    <div class="container">
        <div class="main_product roomy-80">
            <div class="head_title text-center fix">
                <h2 class="text-uppercase">線上專家</h2>
                <h5>Clean and Modern design is our best specialist</h5>
            </div>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="port_item xs-m-top-30">
                                        <div class="port_img">
                                            <img src="~/images/work-img1.jpg" alt="" />
                                            <div class="port_overlay text-center">
                                                <a href="~/images/work-img1.jpg" class="popup-img">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20">
                                            <h5>Your Work Title</h5>
                                            <h6>- Graphic Design</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="port_item xs-m-top-30">
                                        <div class="port_img">
                                            <img src="~/images/work-img2.jpg" alt="" />
                                            <div class="port_overlay text-center">
                                                <a href="~/images/work-img2.jpg" class="popup-img">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20">
                                            <h5>Your Work Title</h5>
                                            <h6>- Graphic Design</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="port_item xs-m-top-30">
                                        <div class="port_img">
                                            <img src="~/images/work-img3.jpg" alt="" />
                                            <div class="port_overlay text-center">
                                                <a href="~/images/work-img3.jpg" class="popup-img">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20">
                                            <h5>Your Work Title</h5>
                                            <h6>- Graphic Design</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="port_item xs-m-top-30">
                                        <div class="port_img">
                                            <img src="~/images/work-img4.jpg" alt="" />
                                            <div class="port_overlay text-center">
                                                <a href="~/images/work-img4.jpg" class="popup-img">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20">
                                            <h5>Your Work Title</h5>
                                            <h6>- Graphic Design</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="port_item xs-m-top-30">
                                        <div class="port_img">
                                            <img src="~/images/work-img1.jpg" alt="" />
                                            <div class="port_overlay text-center">
                                                <a href="~/images/work-img1.jpg" class="popup-img">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20">
                                            <h5>Your Work Title</h5>
                                            <h6>- Graphic Design</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="port_item xs-m-top-30">
                                        <div class="port_img">
                                            <img src="~/images/work-img2.jpg" alt="" />
                                            <div class="port_overlay text-center">
                                                <a href="~/images/work-img2.jpg" class="popup-img">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20">
                                            <h5>Your Work Title</h5>
                                            <h6>- Graphic Design</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="port_item xs-m-top-30">
                                        <div class="port_img">
                                            <img src="~/images/work-img3.jpg" alt="" />
                                            <div class="port_overlay text-center">
                                                <a href="~/images/work-img3.jpg" class="popup-img">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20">
                                            <h5>Your Work Title</h5>
                                            <h6>- Graphic Design</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="port_item xs-m-top-30">
                                        <div class="port_img">
                                            <img src="~/images/work-img4.jpg" alt="" />
                                            <div class="port_overlay text-center">
                                                <a href="~/images/work-img4.jpg" class="popup-img">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20">
                                            <h5>Your Work Title</h5>
                                            <h6>- Graphic Design</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="port_item xs-m-top-30">
                                        <div class="port_img">
                                            <img src="~/images/work-img1.jpg" alt="" />
                                            <div class="port_overlay text-center">
                                                <a href="~/images/work-img1.jpg" class="popup-img">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20">
                                            <h5>Your Work Title</h5>
                                            <h6>- Graphic Design</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="port_item xs-m-top-30">
                                        <div class="port_img">
                                            <img src="~/images/work-img2.jpg" alt="" />
                                            <div class="port_overlay text-center">
                                                <a href="~/images/work-img2.jpg" class="popup-img">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20">
                                            <h5>Your Work Title</h5>
                                            <h6>- Graphic Design</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="port_item xs-m-top-30">
                                        <div class="port_img">
                                            <img src="~/images/work-img3.jpg" alt="" />
                                            <div class="port_overlay text-center">
                                                <a href="~/images/work-img3.jpg" class="popup-img">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20">
                                            <h5>Your Work Title</h5>
                                            <h6>- Graphic Design</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="port_item xs-m-top-30">
                                        <div class="port_img">
                                            <img src="~/images/work-img4.jpg" alt="" />
                                            <div class="port_overlay text-center">
                                                <a href="~/images/work-img4.jpg" class="popup-img">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20">
                                            <h5>Your Work Title</h5>
                                            <h6>- Graphic Design</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</section><!-- End off Product section -->
<!--Test section-->
<section id="test" class="test bg-grey roomy-60 fix">
    <div class="container">
        <div class="row">
            <div class="main_test fix">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="head_title text-center fix">
                        <h2 class="text-uppercase">來看看我們的客戶怎麼說</h2>
                        <h5>Clean and Modern design is our best specialist</h5>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="test_item fix">
                        <div class="item_img">
                            <img class="img-circle" src="~/images/test-img1.jpg" alt="" />
                            <i class="fa fa-quote-left"></i>
                        </div>
                        <div class="item_text">
                            <h5>Sarah Smith</h5>
                            <h6>envato.com</h6>
                            <p>
                                Natus voluptatum enim quod necessitatibus quis
                                expedita harum provident eos obcaecati id culpa
                                corporis molestias.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="test_item fix sm-m-top-30">
                        <div class="item_img">
                            <img class="img-circle" src="~/images/test-img2.jpg" alt="" />
                            <i class="fa fa-quote-left"></i>
                        </div>
                        <div class="item_text">
                            <h5>Sarah Smith</h5>
                            <h6>envato.com</h6>
                            <p>
                                Natus voluptatum enim quod necessitatibus quis
                                expedita harum provident eos obcaecati id culpa
                                corporis molestias.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End off test section -->
<!--Brand Section-->
<section id="brand" class="brand fix roomy-80">
    <div class="container">
        <div class="row">
            <div class="main_brand text-center">
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="brand_item sm-m-top-20">
                        <img src="~/images/cbrand-img1.png" alt="" />
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="brand_item sm-m-top-20">
                        <img src="~/images/cbrand-img2.png" alt="" />
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="brand_item sm-m-top-20">
                        <img src="~/images/cbrand-img3.png" alt="" />
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="brand_item sm-m-top-20">
                        <img src="~/images/cbrand-img4.png" alt="" />
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="brand_item sm-m-top-20">
                        <img src="~/images/cbrand-img5.png" alt="" />
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="brand_item sm-m-top-20">
                        <img src="~/images/cbrand-img6.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End off Brand section -->
<!--Call to  action section-->
<section id="action" class="action bg-primary roomy-40">
    <div class="container">
        <div class="row">
            <div class="maine_action">
                <div class="col-md-8">
                    <div class="action_item text-center">
                        <h2 class="text-white text-uppercase">Your Promotion Text Will Be Here</h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="action_btn text-left sm-text-center">
                        <a href="" class="btn btn-default">Purchase Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

