@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_clientside.cshtml";

}

<div>
    <div class="content-box">
        <p class="isWhatPoint"><span>描述您的需求 － 簡單的告訴我們您的需求，剩下事情交給我們與各路高手吧。</span></p>
        <form action="" method="post" name="form1" id="form1">
            <a class="note-link" href="./help-guestbookpost.html?qclass=2">改進建議或無法刊登？</a>
            <h4 class="stepno stepno-1"><span>1</span>您的需求是？（案件標題）</h4>
            <div class="stepbox">
                <p>
                    <input type="text" size="22" maxlength="20" id="c_title" name="c_title"  placeholder="">
                    <span id="msg1" class="neg" style="display:none;">請輸入您的案件標題</span>
                    <span id="msg11" class="neg" style="display:none;">案件標題請大於三個字</span>
                </p>
            </div>
            <h4 class="stepno stepno-2"><span>2</span>請詳細的說明您的需求（案件執行內容）</h4>
            <div class="stepbox stepbox-textarea">
                <div>
                    <p class="textareaBg">
<textarea id="case_cont" name="content" rows="" cols=""></textarea>
                    </p>
                    <span id="msg4" class="neg " style="display:none;">請輸入您的案件內容</span>
                </div>
            </div>
            <h4 class="stepno stepno-3"><span>3</span>您的預算是？（案件金額）</h4>
            <!--<input type="text" size="12" maxlength="7" id="price" name="price" onkeyup="value=value.replace(/[^0123456789.]/g,'')" value="" />--><!--<input type="text" size="12" maxlength="7" id="price" name="price" onkeyup="value=value.replace(/[^0123456789.]/g,'')" value="" />-->
            <div class="stepbox stepbox-select">
                <div class="selectbox">
                    <div id="case_money1" class="mainCategory selectCategory">
                        <a href="javascript:void('0');" id="case_money" class="waitSelect"><span>請選擇預算範圍</span></a><ul id="case_money_select" style="display:none; "><li><a id="cm_1-5000" href="javascript:void('0');" onclick="case_money(this.id);">5千以內</a></li><li><a id="cm_5000-10000" href="javascript:void('0');" onclick="case_money(this.id);">5千~1萬</a></li><li><a id="cm_10000-50000" href="javascript:void('0');" onclick="case_money(this.id);">1萬~5萬</a></li><li><a id="cm_50000-100000" href="javascript:void('0');" onclick="case_money(this.id);">5萬~10萬</a></li><li><a id="cm_100000-300000" href="javascript:void('0');" onclick="case_money(this.id);">10萬~30萬</a></li><li><a id="cm_300000-500000" href="javascript:void('0');" onclick="case_money(this.id);">30萬~50萬</a></li><li><a id="cm_500000-800000" href="javascript:void('0');" onclick="case_money(this.id);">50萬~80萬</a></li><li><a id="cm_800000-1000000" href="javascript:void('0');" onclick="case_money(this.id);">80萬~100萬</a></li><li><a id="cm_1000000-3000000" href="javascript:void('0');" onclick="case_money(this.id);">100萬~300萬</a></li><li><a id="cm_3000000" href="javascript:void('0');" onclick="case_money(this.id);">300萬以上</a></li></ul>
                    </div>
                    <input type="hidden" id="interval_price" name="interval_price" value="">
                    <input type="checkbox" value="1" class="bytalent" id="bytalent" name="bytalent" style="width:18px; border:0; "><label for="bytalent">自訂金額: </label><input type="text" size="8" id="custom_price" name="custom_price" class="numwidth" onkeyup="checkNumber(this);" style="display:none;">
                    <span class="expbox" style="display:none;"><var>請填寫案件金額</var></span>
                    <span id="msg10" class="neg" style="display:none;">請填寫案件金額</span>
                    <!--<span id="msg2" class="neg" style="display:none;">請選擇您的案件預算範圍</span>-->
                    <a class="cashIcon" href="service-index.html" target="_blank" style="display:"><span>找報價</span></a>
                    <a class="expIcon" href="help-helpser.html?cate=project_pub_3" target="_blank" style="display:"><span>發案金額參考</span></a>
                </div>
            </div>
            <h4 class="stepno stepno-4"><span>4</span>請輸入行動電話</h4>
            <div class="stepbox stepbox-select">
                <input type="hidden" id="mobile" maxlength="10" name="mobile">
                <select id="ceil_phone1" name="ceil_phone1" class="phone_select" onchange="$('#ceil_phone2').focus();">
                    <option value="">請選擇</option>
                    <option value="0900">0900</option>
                    <option value="0901">0901</option>
                    <option value="0902">0902</option>
                    <option value="0903">0903</option>
                    <option value="0904">0904</option>
                    <option value="0905">0905</option>
                    <option value="0906">0906</option>
                    <option value="0907">0907</option>
                    <option value="0908">0908</option>
                    <option value="0909">0909</option>
                    <option value="0910">0910</option>
                    <option value="0911">0911</option>
                    <option value="0912">0912</option>
                    <option value="0913">0913</option>
                    <option value="0914">0914</option>
                    <option value="0915">0915</option>
                    <option value="0916">0916</option>
                    <option value="0917">0917</option>
                    <option value="0918">0918</option>
                    <option value="0919">0919</option>
                    <option value="0920">0920</option>
                    <option value="0921">0921</option>
                    <option value="0922">0922</option>
                    <option value="0923">0923</option>
                    <option value="0924">0924</option>
                    <option value="0925">0925</option>
                    <option value="0926">0926</option>
                    <option value="0927">0927</option>
                    <option value="0928">0928</option>
                    <option value="0929">0929</option>
                    <option value="0930">0930</option>
                    <option value="0931">0931</option>
                    <option value="0932">0932</option>
                    <option value="0933">0933</option>
                    <option value="0934">0934</option>
                    <option value="0935">0935</option>
                    <option value="0936">0936</option>
                    <option value="0937">0937</option>
                    <option value="0938">0938</option>
                    <option value="0939">0939</option>
                    <option value="0940">0940</option>
                    <option value="0941">0941</option>
                    <option value="0943">0943</option>
                    <option value="0945">0945</option>
                    <option value="0946">0946</option>
                    <option value="0947">0947</option>
                    <option value="0948">0948</option>
                    <option value="0949">0949</option>
                    <option value="0951">0951</option>
                    <option value="0952">0952</option>
                    <option value="0953">0953</option>
                    <option value="0954">0954</option>
                    <option value="0955">0955</option>
                    <option value="0956">0956</option>
                    <option value="0958">0958</option>
                    <option value="0960">0960</option>
                    <option value="0961">0961</option>
                    <option value="0962">0962</option>
                    <option value="0963">0963</option>
                    <option value="0965">0965</option>
                    <option value="0966">0966</option>
                    <option value="0968">0968</option>
                    <option value="0967">0967</option>
                    <option value="0970">0970</option>
                    <option value="0971">0971</option>
                    <option value="0972">0972</option>
                    <option value="0973">0973</option>
                    <option value="0974">0974</option>
                    <option value="0975">0975</option>
                    <option value="0976">0976</option>
                    <option value="0977">0977</option>
                    <option value="0978">0978</option>
                    <option value="0979">0979</option>
                    <option value="0980">0980</option>
                    <option value="0981">0981</option>
                    <option value="0982">0982</option>
                    <option value="0983">0983</option>
                    <option value="0984">0984</option>
                    <option value="0985">0985</option>
                    <option value="0986">0986</option>
                    <option value="0987">0987</option>
                    <option value="0988">0988</option>
                    <option value="0989">0989</option>
                </select>- <input name="ceil_phone2" id="ceil_phone2" size="4" maxlength="3" class="numwidth" onkeyup="checkNumber(this);if($(this).val().length==3) $('#ceil_phone3').focus();">
                - <input name="ceil_phone3" id="ceil_phone3" size="4" maxlength="3" class="numwidth" onkeyup="checkNumber(this);">
                <label for="is_mobile1" style="line-height:30px; margin-right:10px;"><input type="radio" name="is_mobile" id="is_mobile1" value="1" style="width:15px;">顯示</label>
                <label for="is_mobile0"><input type="radio" name="is_mobile" id="is_mobile0" value="0" style="width:15px">隱藏</label>
                <span id="msg6" class="neg" style="display:none;">請輸入行動電話</span>
            </div>
            <h4 class="stepno stepno-5"><span>5</span>請留下您的聯絡人名稱，以便讓我們提供您更好的服務</h4>
            <div class="stepbox">
                <p>
                    <span>聯 絡 人</span>： <input type="text" size="10" maxlength="10" id="contact" name="contact" class="contactwidth">
                    <span id="msg7" class="neg" style="display:none;">請輸入您的聯絡人</span>
                </p>
            </div>
            <div id="check-member-box">
                <h4 class="checkMember"><span>您已經是我們的會員嗎？</span><a href="javascript:void('0');" onclick="$('#isMemberYes').show();$('#isMemberNo').hide();$('#ismember').val('1');$('#account2').focus();" class="ansYes">是</a><a href="javascript:void('0');" onclick="$('#isMemberNo').show();$('#isMemberYes').hide();$('#ismember').val('2');" class="ansNo">否</a></h4>
                <div id="isMemberYes" class="isMemberYes" style="display:none;">
                    <div class="tablebox">
                        <p class="help-title">請進行會員登入</p>
                        <table cellspacing="0">
                            <tbody>
                                <tr>
                                    <th><em>*</em><span class="wd">會員帳號：</span></th>
                                    <td>
                                        <div class="isPosition">
                                            <input id="account2" type="text" name="account2" maxlength="12" class="textfield" value="" onfocus="document.getElementById('login-note').style.display='block';" onblur="document.getElementById('login-note').style.display='none';">
                                            <div id="login-note" style="display: block;">
                                                <p>我們外包網登入帳號為您的<span class="memid">身份證字號</span></p>
                                                <p>人力銀行企業會員可使用<span class="compid">統一編號</span>登入</p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><em>*</em><span class="wd">密　　碼：</span></th>
                                    <td><input type="password" id="pwd2" name="pwd2" maxlength="20" class="textfield"><a href="help-foundPwd.html">忘記密碼?</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="send-ok-box">
                        <input type="button" onclick="checkForm();" value="" class="sendbtn btn-isMember">
                    </div>
                </div>
                <div id="isMemberNo" class="isMemberNo" style="display:none;">
                    <div class="tablebox">
                        <p class="help-title">請填寫以下資料，在刊登案件的同時進行免費註冊。若您是<span id="regtype_text">企業</span>，請<a href="javascript:;" id="switch_reg_type">選擇統編註冊</a>。</p>
                        <table cellspacing="0">
                            <tbody>
                                <tr>
                                    <th><em>*</em>會員帳號：</th>
                                    <td class="tdinput" id="account_td">
                                        <input id="account" class="textfield" type="text" name="account" maxlength="12" value="僅限輸入您的身分證字號" onkeyup="reg.idCardInput(this);" onfocus="reg.cAccount_info();" onblur="reg.cAccount();">
                                    </td>
                                    <td class="tdnote"><div id="ma_row3" class="notebox">供日後登入、付費、提款等重要事項，註冊後即無法修改！</div></td>
                                </tr>
                                <tr>
                                    <th><em>*</em>密　　碼：</th>
                                    <td class="tdinput"><input type="password" id="pwd" name="pwd" maxlength="20" class="textfield" onfocus="reg.cPwd_info();" onblur="reg.cPwd();"></td>
                                    <td class="tdnote"><div id="mp_row3" class="notebox"> </div></td>
                                </tr>
                                <tr>
                                    <th><em>*</em>密碼確認：</th>
                                    <td class="tdinput"><input type="password" id="c_pwd" name="c_pwd" maxlength="20" class="textfield" onfocus="reg.cRePwd_info();" onblur="reg.cRePwd();"></td>
                                    <td class="tdnote"><div id="pc_row3" class="notebox"> </div></td>
                                </tr>
                                <tr>
                                    <th><em>*</em>聯絡信箱：</th>
                                    <td class="tdinput">
                                        <div class="isPosition">
                                            <input type="text" id="email" name="email" value="" class="textfield" onfocus="reg.Mail_info();" onblur="reg.Mail();" onkeydown="_AUTOCOMPLETE.auto(event,'kwds_rs','email');" onkeyup="var keyCode = event.keyCode ? event.keyCode : event.which ? event.which : event.charCode;if (keyCode!=13) _AUTOCOMPLETE.lookup_email('kwds_rs','email',this);">
                                            <ul class="dropdownlist" style="display:none"><li></li></ul>
                                            <p id="note-mail" style="display:none;">因部分免費電子信箱伺服器(如yahoo、yam...等)會通知信歸為垃圾信件退回，建議您填寫其他有效電子信箱，以免影響您的使用權益！</p>
                                        </div>
                                    </td>
                                    <td class="tdnote"><div id="ac_row3" class="notebox"> </div></td>
                                </tr>
                                <tr class="comp_input" style="display: none;">
                                    <th><em>*</em>手機號碼：</th>
                                    <td class="tdinput">
                                        <input id="mobilenum2" class="textfield" type="text" onfocus="reg.Mobile_info2();" onblur="reg.VerifyCode2();" maxlength="10" name="mobilenum2">
                                    </td>
                                    <td class="tdnote"><div id="cc_row32" class="notebox">請填寫正確的行動電話號碼。</div></td>
                                </tr>
                                <tr class="comp_input" style="display: none;">
                                    <th></th>
                                    <td><input type="button" value="驗證手機號碼" id="sendVerify2" onclick="reg.Mobile2(1);" class="sendCode"></td>
                                    <td class="tdnote"><span class="load_pic" id="load_pic" style="display:none;">簡訊發送中，請稍候！</span><div id="mob_row32" class="notebox"></div></td>
                                </tr>
                                <tr class="comp_input" style="display: none;">
                                    <th><em>*</em>驗 證 碼：</th>
                                    <td class="tdinput">
                                        <input type="text" id="VerifyCode2" name="VerifyCode2" maxlength="4" class="textfield" onfocus="reg.VerifyCode_info2();" onblur="reg.VerifyCode2();">
                                    </td>
                                    <td class="tdnote"><div id="mc_row32" class="notebox">請填寫您的行動電話收到的4位數字驗證碼。</div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="send-ok-box">
                        <p>
                            <input id="agree" name="agree" type="checkbox"><label for="agree">
                                我已仔細閱讀並明瞭「<a href="help-sev.html" target="_blank">服務條款</a>」、
                                「<a href="help-pris.html" target="_blank">隱私權聲明</a>」等所載內容
                            </label>
                        </p>
                        <p><label for="agree">及其意義，茲同意該等條款規定，並願遵守網站現今、嗣後規範的各種規則</label></p>
                        <input type="hidden" name="module" value="casepage">
                        <input type="hidden" name="action" value="fastpost">
                        <input type="button" onclick="checkForm2();" value="" class="sendbtn btn-notMember">
                    </div>
                </div>
                <input type="hidden" id="role" name="role" value="1">
                <input type="hidden" id="ismember" name="ismember" value="">
            </div>
        </form>
    </div>

</div>
