@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_clientside.cshtml";

}

<!doctype html>
<html>
<head>
    
    <link rel="stylesheet" href="~/css/send.css">
    <meta charset="utf-8">

</head>

<body>
    
    <div class="container">
        <div class="row text-center">
            <font color=darkgreen size=10 face="微軟正黑體"><b>點選想要發案的類別</b>
</font>
        </div>
        
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="pricingTable blue">
                    <div class="pricingTable-header">

                        <span class="price-value"><font size="10">網頁設計<br />網站開發</font></span>
                    </div>
                    <div class="pricingContent">
                        <ul>
                            <li>網頁版型設計<i class="fa fa-check"></i></li>
                            <li>網站程式設計 / 網站架設<i class="fa fa-check"></i></li>
                            <li>網站企劃 / 網站規劃 <i class="fa fa-check"></i></li>
                            <li>網頁切版製作<i class="fa fa-check"></i></li>
                            <li>網站行銷 / SEO<i class="fa fa-check"></i></li>
                        </ul>
                    </div><!-- /  CONTENT BOX-->
                    <div class="pricingTable-sign-up">
                        <a href="@Url.Action("sendya", "Home")" class="btn btn-block">點選這邊</a>
                    </div><!-- BUTTON BOX-->
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="pricingTable pink">
                    <div class="pricingTable-header">
                        <span class="price-value"><font size="10">資訊網路<br />軟體設計</font></span>
                    </div>
                    <div class="pricingContent">
                        <ul>
                            <li>軟體程式設計<i class="fa fa-check"></i></li>
                            <li>網路應用程式設計<i class="fa fa-check"></i></li>
                            <li>資訊系統整合建置 <i class="fa fa-check"></i></li>
                            <li>韌體設計<i class="fa fa-check"></i></li>
                            <li>系統分析與設計<i class="fa fa-check"></i></li>
                        </ul>
                    </div><!-- /  CONTENT BOX-->
                    <div class="pricingTable-sign-up">
                        <a href="@Url.Action("sendya", "Home")" class="btn btn-block">點選這邊</a>
                    </div><!-- BUTTON BOX-->
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="pricingTable orange">
                    <div class="pricingTable-header">
                        <span class="price-value"><font size="10">品牌設計<br />應用設計</font></span>
                    </div>
                    <div class="pricingContent">
                        <ul>
                            <li>LOGO設計<i class="fa fa-check"></i></li>
                            <li>電腦繪圖<i class="fa fa-check"></i></li>
                            <li>封面設計 <i class="fa fa-check"></i></li>
                            <li>型錄設計<i class="fa fa-check"></i></li>
                            <li>包裝設計<i class="fa fa-check"></i></li>
                        </ul>
                    </div><!-- /  CONTENT BOX-->
                    <div class="pricingTable-sign-up">
                        <a href="@Url.Action("sendya", "Home")" class="btn btn-block">點選這邊</a>
                    </div><!-- BUTTON BOX-->
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="pricingTable green">
                    <div class="pricingTable-header">
                        <span class="price-value"><font size="10">商業攝影<br />演藝娛樂</font></span>
                    </div>
                    <div class="pricingContent">
                        <ul>
                            <li>產品攝影師<i class="fa fa-check"></i></li>
                            <li>剪片師<i class="fa fa-check"></i></li>
                            <li>動畫師<i class="fa fa-check"></i></li>
                            <li>商業影片推銷<i class="fa fa-check"></i></li>
                            <li>臨時演員<i class="fa fa-check"></i></li>
                        </ul>
                    </div><!-- /  CONTENT BOX-->
                    <div class="pricingTable-sign-up">
                        <a href="@Url.Action("sendya", "Home")" class="btn btn-block">點選這邊</a>
                    </div><!-- BUTTON BOX-->
                </div>
            </div>
        </div>
    </div>
    

</body>
</html>

